@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://unpkg.com/react-beautiful-dnd@latest/dist/react-beautiful-dnd.min.css";


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 244 22% 88%;
    --input: 245 18% 95%;
    --ring: 240 5% 80%;
    --primary: 252 57% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 252 40% 50%;
    --secondary-foreground: 0 0% 100%;
    --destructive: 0 84% 70%;
    --destructive-foreground: 0 0% 100%;
    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 100%;
    --main-font-color: #504e4e;
    --gray1: #d9d9d9;
    --yellow1: #efe9ce;
    --bg-color: #303030;
  }
  #root{
    display: flex;
    justify-content: center;
    color: var(--yellow1);
  }
  body{
    background-color: var(--bg-color);
    color: var(--main-font-color);
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    .main{
      width: 840px;
      margin: 0px 20px;
      .add-draggable-input.type{
        color: var(--main-font-color);
      }
    }
  }
  .header{
    font-family: "Protest Strike", sans-serif;
    border: 4px solid var(--yellow1);
    border-radius: 25px;
    .header-logo{
      border-radius: 25px;
    }
    .features,.others{
      img{
        width: 40px;
      }
    }
  }
  .add-draggable-input{
    height: inherit !important;
  }
  .add-draggable-submit{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 600;
    &:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
  }
  .card-box{
    max-height: 140px;
    overflow: auto;
  }
  .content{
    font-family: "consolas";
    font-weight: 600;
    color: var(--yellow1);
    .features,.others{
      display: flex;
      align-items: flex-end;
      .hide-mobile{
        display: none ;
      }
      .hide-desktop{
        display: block ;
      }
      .feature-button{
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }
  }
  @media screen and (max-width: 768px){
    .main{
      margin: 0px 10px;
    }
    .header{
      flex-direction: column;
      .header-logo{
        border-radius: 25px;
      }
      .add-draggable-submit{
        padding: 0.25em 0.75em;
      }
      
      .content{
        display: flex;
        flex-direction: row;
                
        .features,.others{
          display: flex;
          flex-direction: row;
          img{
            width: 40px;
            height: 40px;
          }
          .hide-desktop{
            display: none ;
          }
          .hide-mobile{
            display: block ;
          }
          .feature-button{
            align-items: center !important;
            display: flex ;
            flex-direction: column !important;
          }
        }        
        
      }
    }
  }
}