@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://unpkg.com/react-beautiful-dnd@latest/dist/react-beautiful-dnd.min.css";


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 244 22% 88%;
    --input: 245 18% 95%;
    --ring: 240 5% 80%;
    --primary: 252 57% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 252 40% 50%;
    --secondary-foreground: 0 0% 100%;
    --destructive: 0 84% 70%;
    --destructive-foreground: 0 0% 100%;
    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 100%;
  }
}